.box{
    background-color: blue;
    height: 100px;
    width: 100px;
}

.para{
    color: green;
    width: 200px;
    border-style: dashed;
    border-width: 3px;
    border-color: orange;
}

.backgroundImage{
    width: 200px;
    height: 325px;
    background-image: url("img/warlock.jpg");
}
