ul{
    list-style-type: none;
}
li{
    background-color: BlanchedAlmond;
    margin: 0px 1px 0px 0px;
    float: left;
    font-size: 30px;
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: black;
    padding: 10px 30px;
    display: block;
}
a:hover{
    color: white;
    background-color: IndianRed;
}
