#container{
    width: 900px;
    height: 470px;
    margin: 0 auto;
    text-align: center;
}
#header{
    width: 900px;
    height: 70px;
    background-color: LightGrey;
    margin-bottom: 5px;
    line-height: 70px;
}
#rightmenu{
    float: right;
    background: LightGrey;
    height: 430px;
    width: 290px;
    margin: 5px 0px 0px 5px;
    line-height: 430px;
}
.leftitem{
    float: left;
    background: LightGrey;
    height: 100px;
    width: 600px;
    margin: 5px 5px 5px 0px;
    line-height: 100px;
}
