ul{
    width: 200px
}

li{
    display: block;
    background-color: DarkGrey;
    margin: 1px 0px;
}
a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 3px 3px;
}
a:hover{
    background-color: grey;
    color: white;
    }
