#container{
    width: 900px;
    height: 600px;
    margin: 0 auto;
    font-size: 15px;
    font-family: sans-serif;
    text-align: center;

}
#header{
    height: 70px;
    width: 900px;
    background-color: LightGrey;
    vertical-align: middle;
    line-height: 70px;
    margin-bottom: 5px;

}
#leftmenu{
    float: left;
    height: 500px;
    width: 295px;
    margin: 5px 5px 5px 0;
    background-color: LightGrey;
    line-height: 500px;

}
#maincontent{
    float: left;
    height: 500px;
    width: 595px;
    margin: 5px 0 5px 5px;
    background-color: LightGrey;
    line-height: 500px;
}
#clear{
    clear: both;
}
#footer{
    float: left;
    background-color: LightGrey;
    height: 30px;
    width: 900px;
    margin-top: 5px;
    line-height: 30px;
}
