a:hover{
    color: orange;
}

li a:hover{
    text-decoration: none;
    color: red;
    text: "spicy"
}

p:first-of-type{
    display: none;
}

span{
    background-color: grey;
}

div p:hover{
    display: block;
}
